html{
  width: 100%;
  height: 100%;
  margin: 0;
  text-align: center;
}

body{
  width: 100%;
  height: 100%;
  margin: 0;
  background-image: url("bg.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
}

.clock{
  box-sizing: border-box;
  width: 24rem;
  height: 24rem;
  position: relative;
  margin: auto;
  padding: 1rem;
  border: 1rem white solid;
  border-radius: 100%;
  background-color: rgba(250, 250, 250, 0.3);
}

.hand{
  position: absolute;
  top: 50%;
  box-sizing: border-box;
  transform-origin: 100%;
  border-radius: 50% 0 0 50%;
}

.hour{
  width: 5rem;
  margin-left: 5rem;
  border: 3px black solid;
}

.minute{
  width: 7.5rem;
  margin-left: 2.5rem;
  border: 3px rgb(5, 41, 75) solid;
}

.second{
  width: 10rem;
  border: 2px red solid;
}
