html{
  width: 100%;
  height: 100%;
  margin: 0;
  text-align: center;
}

body{
  width: 100%;
  height: 100%;
  margin: 0;
  background-image: url("bg.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
}

.clock{
  box-sizing: border-box;
  width: 24rem;
  height: 24rem;
  position: relative;
  margin: auto;
  padding: 1rem;
  border: 1rem white solid;
  border-radius: 100%;
  background-color: rgba(250, 250, 250, 0.3);
}

.hand{
  position: absolute;
  top: 50%;
  box-sizing: border-box;
  transform-origin: 100%;
  border-radius: 50% 0 0 50%;
}

.hour{
  width: 5rem;
  margin-left: 5rem;
  border: 3px black solid;
}

.minute{
  width: 7.5rem;
  margin-left: 2.5rem;
  border: 3px rgb(5, 41, 75) solid;
}

.second{
  width: 10rem;
  border: 2px red solid;
}

.number{
  position: absolute;
  top: 50%;
  width: 10rem;
  transform-origin: 100%;
}

.number div{
  margin: 0;
  height: .5rem;
  width: 1rem;
  text-align: center;
  transform: rotate(-90deg);
}

.twelve{
  text-align: left;
  transform: rotate(90deg);
}
.one{
  text-align: left;
  transform: rotate(120deg);
}

.two{
  text-align: left;
  transform: rotate(150deg);
}

.three{
  text-align: left;
  transform: rotate(180deg);
}

.four{
  text-align: left;
  transform: rotate(210deg);
}

.five{
  text-align: left;
  transform: rotate(240deg);
}

.six{
  text-align: left;
  transform: rotate(270deg);
}

.seven{
  text-align: left;
  transform: rotate(300deg);
}

.eight{
  text-align: left;
  transform: rotate(330deg);
}

.nine{
  text-align: left;
  transform: rotate(360deg);
}

.ten{
  text-align: left;
  transform: rotate(390deg);
}

.eleven{
  text-align: left;
  transform: rotate(420deg);
}